*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #267eeb;
    --secondary-color: #26bdeb;
    --third-color: #26eb96;
    --white: #ffff;
    --background-color: #78D1ea;
}

header{
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.title{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    /* -webkit-text-stroke: 2px #78d1ea; */
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.container-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: var(--background-color);
    padding: 2rem 6rem 2rem 6rem;
    border-radius: 12px;
}

select{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    width: 20rem;
    padding: 2px;
    border: none;
    border-radius: 4px;
}

.register-button{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    background-color: var(--third-color);
}